ul{
    list-style-type:none;/*убираем маркеры*/
    padding-left:0; /*убираем стандартный отступ списка*/
    }

li{
    margin-left: 20px;/*Отступы между пунктами*/
    text-decoration: none;/*Убираем стандартное подчеркивание у пунктов меню*/
    display: inline-block;

}
a{
    color:inherit; /*наследует цвет текста от родителя(как обычный текст)*/
    text-decoration: none; /*убирает подчеркивание*/
    /*Дополнительный сброс стилей для всех состояний*/
    a:link,
    a:visited,
    a:hover,
    a:active{
        color:inherit;
        text-decoration: none;
        cursor:pointer; /* Курсор в виде руки*/
    }
}

h1 {
    margin:0;
    font-size:2.5rem;
    font-weight:700;
    color:#2E3A59;
}
p{
    font-size:1.5rem;
    font-weight: 400;
    color:#2E3A59;
}
header{
    display:flex;
    justify-content:space-between;
    position:relative;
}

.profile{
    margin-left: 50px;
}

.profile__leaf {
    position: absolute;
    top: 0; right: 0; /*размещаем элемент строго в правом верхнем углу*/
    width: 300px; /* устанавливаем размер листа */
    transform: rotate(-90deg); /* немного поворачиваем */
    z-index: -1; /* помещаем листик за остальными элементами */
    pointer-events: none; /* делаем его не кликабельным, чтобы не мешал другим элементам */
}

.navigation ul
{display:flex;
margin-right: 50px;}

.about-me__image {
    width: 100%;
    max-width: 450px;
    height: auto; /*  автоматическая высота, пропорции сохраняются */
    align-self: flex-start; /*  не даёт растянуть родителя */
    object-fit: cover; /*  чтобы изображение не искажалось */
}

.about-me__container{
    display: flex;
    margin-left: 50px;
    align-items: flex-start;
    background-color: rgba(0, 255, 0, 0.1);
}

.about-me__text {
    margin-left: 50px;
    align-self: flex-start;
    max-width: 1300px; /* Ширина не превысит 600px */
    width: 100%; /* Занимает всё доступное пространство */

}

@media (max-width: 600px) { /* адаптив под мобильные устройства*/
    .about-me__image {
        max-width: 300px;}
    }

@media (max-width: 900px){/*адаптив под Планшеты*/
    .about-me__image {
        max-width: 400px;}
}

@media (min-width: 900px) {/*адаптив под Компьютеры*/
    .about-me__image {
        max-width: 500px;
    }
}

button#toggle-about {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button#toggle-about:hover {
    background-color: #388e3c;
}

.full-text.hidden {
    display: none;
}


.skills{
    display: flex;
}
.skills ul
{   display:flex;
    margin-right: 50px;}


.skills__item{
    margin-left: 20px;/*Отступы между пунктами*/
    text-decoration: none;/*Убираем стандартное подчеркивание у пунктов меню*/
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 999px;
    background-color: #dbeddc;
    color: #053207;
    font-weight: 600;
    font-size: 1rem;
}

.skills__item:first-child {
    margin-left: 0; /* Убираем внешний отступ */
}

.skills__container{
    display: flex;
    flex-direction: column;
}

.experience__container {
    display: flex;
}

.experience__item:last-child {
    margin-left: 20px;
}




.skills,
.experience,
.projects,
.contacts {
    margin-left:600px; /* ширина фото + отступы */
}

.experience__date, .experience__position,.experience__company,skills__item{
    font-size:24px;
}